@media(min-width:375px )and ( max-width:768px){
    body{
        margin: 0 4rem;
    }
    .preview-card{
        width: 100%;
        height: auto;
        /* flex-direction: column-reverse; */
        grid-template-columns: 1fr;
        gap: 4.8rem;
    }
    .img-item{
        height: 24rem;
        grid-row: 1;
        background-image: url(images/image-header-mobile.jpg);
    }
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .stats-container{
        text-align: center;
        flex-direction: column;
        gap:2rem;
    }
    /* .img-item{
        background-image: url(images/image-header-mobile.jpg);
        grid-column: 1 /-1;
    } */
}